@import "tailwindcss";

@theme {
  --font-open-sans: "Open Sans", "sans-serif";

  --color-slate-gray: #8c97a8;
  --color-system-blue: #007aff;
  --color-cobalt-blue: #006fe8;
  --color-primary-blue: #007aff;
  --color-blue-gray-600: #6c788f;
  --color-neutral-900: #1d2026;

  --breakpoint-3xl: 130rem;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-shadow {
  box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.05);
}

.bird {
  @media (max-width: 1024px) {
    display: none;
  }
}

.hero {
  letter-spacing: -2%;
  line-height: 120%;
}

@keyframes animate-rise {
  0% {
    transform: translateY(40vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.diagonal-bird {
  animation-delay: 3500ms;
}

@keyframes bird-rise {
  0% {
    transform: translateY(40vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fake-bird-rise {
  0% {
    transform: translateY(40vh);
    opacity: 0;
  }
  80% {
    /* transform: translateY(10vh); */
    opacity: 0.6;
  }
  100% {
    transform: translate(0vh);
    opacity: 0;
  }
}

@keyframes fly-diagonal {
  0% {
    transform: translate(0, 0) rotate(-15deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(100vw, -50vh) rotate(-15deg);
    opacity: 0;
  }
}

@keyframes fly-diagonal-two {
  0% {
    transform: translate(0, 0) rotate(15deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(100vw, -50vh) rotate(15deg);
    opacity: 0;
  }
}

.contact-button {
  z-index: 0;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
  /* transition: text 0.6s ease-in-out; */
}

.contact-button:hover {
  background-color: transparent;
}

.button-text {
  position: relative;
  z-index: 2;
}

.contact-button::before {
  width: 105%;
  height: 105%;
  background-color: white;
  border-radius: 44px;
  content: " ";
  position: absolute;
  left: -2.5%;
  top: -2.5%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.contact-button:hover::before {
  transform: scaleX(1);
}

.animated-button {
  animation: animate-button 0.3s ease-in-out;
  animation-delay: 0.7s;
}

@keyframes animate-button {
  0% {
    background-color: var(--color-system-blue);
  }
  100% {
    background-color: white;
  }
}
